## Build
bin/
obj/
[Bb]uild/
[Ll]og/

## Visual Studio / VS Code
.vs/
*.user
*.userosscache
*.suo
*.rsuser
.idea/

## NuGet
packages/
*.nupkg

## OS
Thumbs.db
[Dd]esktop.ini

## Others
*.DotSettings.user
